// Estilos para campos de quantidade e unidade secundária
// Aplicam os mesmos estilos dos campos padrão (qty_done e product_uom_id)
.o_barcode_line_form {
    [name="x_secondary_qty"], [name="x_secondary_uom_id"] {
        margin-bottom: 0;

        & .o_input {
            font-size: 2rem;
        }
    }

    :not(td)[name="x_secondary_uom_id"] {
        height: 100%;
        margin-bottom: 0;
        font-size: 2rem;
    }

    [name="x_secondary_uom_id"] .o-autocomplete, 
    [name="x_secondary_uom_id"] .o_field_many2one_selection, 
    [name="x_secondary_uom_id"] .o_field_many2one_selection input {
        height: 100%;
    }
}

